<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>

		<add
		  key="V12-Local"
		  value="D:\V12Packages" />

		<add
		  key="Forgejo"
		  value="https://forgejo.finite.ovh/api/packages/Finite/nuget/index.json" />

		<add
		  key="nuget.org"
		  value="https://api.nuget.org/v3/index.json" />

	</packageSources>
</configuration>